body {
    width: 1350px;
    margin: 0px;
}

.menu {
    display: grid;
    grid: 80px / 1fr 1fr 1fr;
    border: 0px solid red;
    text-align: center;
}

.search_block {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 25px;
}

.search_block>input {
    border-top: none;
    border-left: none;
    border-right: none;
    margin-right: 15px;
}

.navigation_buttons {
    border: 0px solid black;
    text-align: center;
    margin-right: 10px;
    user-select: none;
}

.navigation_buttons>div {
    height: auto;
    width: 25px;
    writing-mode: tb-rl;
    margin: 20px 0px;
}

.inscription_and_block {
    width: 100%;
    margin-top: 100px;
    margin-left: 120px;
}

.inscription_and_block>button {
    margin-left: 70px;
    outline: none;
    font-family: 'Times New Roman';
    width: 200px;
    background: rgba(196, 196, 196, 0.25);
}

.introduction {
    display: flex;
    margin: 0 auto 0 auto;
    justify-content: space-around;
    margin-top: 100px;
}

.introduction>:first-child {
    width: 650px;
    font-family: 'Times New Roman';
    font-size: 20px;
    color: #878787;
}

.offering>div {
    display: flex;
    text-align: center;
    margin: 30px 0px;
}

.offering>div>div {
    font-size: 18px;
    width: 150px;
}

.bigBlockBackground {
    background: rgb(229, 229, 229);
    z-index: -1;
}


/* Slider block */

.grayImg {
    -webkit-filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayImg grayscale(100%);
    filter: grayscale(100%);
    filter: gray;
    transition-property: -webkit-filter, -webkit-filter, -moz-filter, -ms-filter, -o-filter, filter;
    transition-duration: 1s;
}

.slider_catalog>div:hover {
    -webkit-filter: grayscale(0%);
    -webkit-filter: grayscale(0%);
    -moz-filter: grayscale(0%);
    -ms-filter: grayscale(0%);
    -o-filter: grayImg grayscale(0%);
    filter: grayscale(0%);
    filter: none;
}

.button {
    background: rgba(196, 196, 196, 0.25);
    border: 1px solid #000000;
    box-sizing: border-box;
}

.slider_catalog {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 100px auto 100px auto;
    width: 1100px;
    user-select: none;
}

.slider_catalog>div {
    width: 250px;
    background: rgb(229, 229, 229);
    -webkit-filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayImg grayscale(100%);
    filter: grayscale(100%);
    filter: gray;
    transition-property: -webkit-filter, -webkit-filter, -moz-filter, -ms-filter, -o-filter, filter;
    transition-duration: 1s;
}

.slider_catalog>button {
    background: none;
    border: none;
    font-size: 25px;
    outline: none;
}

.slider_catalog>div>img {
    width: 100%;
    height: auto;
}

.slider_catalog_TxtIcon {
    margin: 7px 0px;
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    font-family: 'Marck Script', cursive;
}

.fitting_record {
    border: 0px solid black;
    margin: 0px auto 0 auto;
    margin-bottom: 81px;
    font-family: 'Times New Roman';
    font-size: 19px;
    text-align: center;
    width: 1100px;
    color: #878787;
}

.fitting_record_button {
    width: 250px;
    height: 40px;
    background: rgba(196, 196, 196, 0.25);
    border: 1px solid #000000;
    box-sizing: border-box;
    margin: 30px 0px;
}


/*FOOTER*/

footer {
    display: flex;
    flex-direction: column;
    background: rgb(229, 229, 229)
}

.designer_name {
    font-family: 'Times New Roman';
    font-size: 14px;
    text-align: center;
    color: #6C6C6C;
    vertical-align: bottom;
}

.footer_info_bar {
    border: 0px solid red;
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 31px;
    display: flex;
    justify-content: space-between;
}

.footer_info_bar_links {
    display: flex;
    justify-content: space-around;
    width: 470px;
}

.footer_info_bar_links>ul {
    border: 0px solid black;
    list-style: none;
    padding-left: 0;
}

.footer_info_bar_phone {
    font-family: 'Times New Roman';
    font-size: 14px;
    text-align: right;
    width: 260px;
}

.footer_info_bar_Logo {
    font-family: 'Times New Roman';
    font-size: 14px;
    text-align: center;
    color: #878787;
}

.footer_info_bar_Logo>div>img {
    height: 100%;
    width: auto;
}

.footer_info_bar>div {
    border: 0px solid black;
}